div {
    margin: 1.25em;                    
    height: 8em;
    width: 8em;
    float: left; 
}

.black-box {
    margin: 1.25em;                    
    height: 8em;
    width: 8em;
    background-color: black;
    float: left; 
}

button {
    position: fixed;
}

div p {
    color: white;
    position: relative;
    padding: 2.3em 0em 0em 3.7em;
    
}